.body {
    margin: 0;
    padding: 0;
}

.balloon-animation {
    position: relative;
    background-image: linear-gradient(to bottom, #1487e6, #2281e2, #2d7add, #3674d8, #3e6dd3, #6568cd, #8062c5, #955cbb, #b758a9, #cd5a95, #da6182, #df6e71);
    height: 100vh;
    width: 100%;
}

.flying-cloud {
    position: absolute;
    width: 15%;
    opacity: 0.9;
}

.flying-cloud:nth-child(1){
    left: 20%;
    top: 30%;
}
.flying-cloud:nth-child(2){
    left: 24%;
    top: 8%;
    z-index: 1;
}
.flying-cloud:nth-child(3){
    left: 44%;
    top: 35%;
    z-index: 1;
}
.flying-cloud:nth-child(4){
    left: 60%;
    top: 8%;
}
.flying-cloud:nth-child(5){
    top: 25px;
    left: 25px;
}
.flying-cloud:nth-child(6){
    left: 80%;
    top: 20%;
}

.flying-balloon {
    position: absolute;
    width: 20%;
    top: 20%;
    left: 50%;
}
